select.form-control:not([size]):not([multiple]), select.custom-file-control:not([size]):not([multiple]) {
  height: 33px !important;
}

.checkbox {
  small {
    display: inline-block;
    line-height: 110%;
  }
}