.navbar {
  border: none;
  z-index: 2;
  @include mdc-elevation(3);

  .navbar-brand {
    font-size: 2rem;
    color: $primary;

    &:first-letter {
      font-weight: bolder;
      color: $red;
    }
  }
}