.navbar {
  border: none;
  z-index: 2;
  @include mdc-elevation(3);

  .navbar-brand {
    font-size: 2rem;
    margin-right: 2rem;
    font-weight: bold;
  }

  &.navbar-light {
    .navbar-brand {
      color: $navbar-light-color;

      &:first-letter {
        font-weight: bolder;
        color: $info;
      }
    }
  }

  &.navbar-dark {
    .navbar-brand {
      color: $navbar-dark-color;

      &:first-letter {
        font-weight: bolder;
        color: material-color('lime', '200');
      }
    }
  }
}