.item-icon-soc {
  font-size: 2.2rem;

  .fa-google {
    color: material-color('red', '500');
  }

  .fa-facebook {
    color: material-color('indigo', '500');
  }

  .fa-github {
    color: $black;
  }
}