body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

.vh-100 {
  height: 100vh;
}

.bmd-layout-container {
  min-height: 100vh;
}

footer {
  background: rgba(0,0,0,0.05);
  border-top: 1px solid rgba(0,0,0,0.06);
  padding: 1rem 0;
}

.header-line {
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding: 2rem 0;
  margin-bottom: 3rem;

  &:after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #7950f2; //material-color('indigo', '700');
    opacity: 0.85;
    z-index: 0;
    top: 0;
    left: 0;
  }

  * {
    position: relative;
    z-index: 1;
  }
}

.top-content {
  .header-line {
    margin-bottom: 0;
    padding-bottom: 7rem;
  }

  + .main-container {
    margin-top: -5rem;
  }
}

.py-3-no-empty:not(:empty) {
  @extend .py-3;
}

.img-max-width {
  width: 100%;
  height: auto;
}

.crop-image {
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;

  img {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  &-150 {
    height: 150px;
  }

  &-200 {
    height: 200px;
  }

  &-250 {
    height: 250px;
  }

  &-280 {
    height: 280px;
  }

  &-300 {
    height: 300px;
  }
}

.text-crop {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &.col-auto {
    max-width: 65%;
  }
}

.info-list {
  .info-list-item {
    &:after {
      content: ' ';
      border-bottom: 1px dotted #e0e0e0;
      overflow: hidden;
      display: block;
      height: 1rem;
    }
  }
}

.no-wrap {
  white-space: nowrap;
}

.col-inline {
  position: relative;

  [class*="col"] {
    display: inline !important;
  }
}

.border-line-bottom {
  overflow: hidden;

  &:after {
    //display: block;
    //height: $font-size-base;
    content: ' ';
    position: absolute;
    top: 100%;
    border-bottom: 1px dotted #{$gray-300};
    width: 100%;
    margin-top: -#{$line-height-base - $font-size-base};
  }
}

.card-columns.card-offers {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 1;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}

.fs {
  &-1 {
    font-size: 1rem;
  }
  &-2 {
    font-size: 2rem;
  }
  &-3 {
    font-size: 3rem;
  }
  &-4 {
    font-size: 4rem;
  }
  &-5 {
    font-size: 5rem;
  }
}

.list-group-item :first-child {
  margin-right: 0;
}

.max-w200 {
  max-width: 200px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  height: 100% !important;

  > .flex-auto-height {
    flex: 1;
    overflow-y: auto;
  }
}

.c-p {
  cursor: pointer;
}