body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-content {
  flex: 1;
}

.bmd-layout-container {
  min-height: 100vh;
}

footer {
  background: rgba(0,0,0,0.05);
  border-top: 1px solid rgba(0,0,0,0.06);
  padding: 1rem 0;
}

.header-line {
  //display: flex;
  //flex-direction: column;
  //align-items: center !important;
  min-height: 16rem;
  @extend .pt-2;
  padding-bottom: $header-line-bottom + 1rem;
  background-image: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  //.container {
  //  flex: 0 0 100%;
  //}
}

.main-container {
  margin-top: -#{$header-line-bottom};
}

.py-3-no-empty:not(:empty) {
  @extend .py-3;
}

.img-max-width {
  width: 100%;
  height: auto;
}

.crop-image {
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;

  img {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  &-150 {
    height: 150px;
  }

  &-200 {
    height: 200px;
  }
}

.text-crop {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.info-list {
  .info-list-item {
    &:after {
      content: ' ';
      border-bottom: 1px dotted #e0e0e0;
      overflow: hidden;
      display: block;
      height: 1rem;
    }
  }
}

.card-columns.card-offers {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
  @include media-breakpoint-only(md) {
    column-count: 1;
  }
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}