
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap-material-design/scss/bootstrap-material-design';

// Components
@import "components/index";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
}
