.chat {
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
  width: 350px;

  @media (max-width: 400px) {
    width: 100%;
  }

  .card {
    border: none;
  }

  .card-header {
    @extend .bg-blue;
    color: lighten(material-color('blue'), 50%);

    a {
      color: lighten(material-color('blue'), 50%);
    }
  }

  &.active {
    height: 100%;

    .card {
      height: 100vh;
    }
  }
}

.messages-list {
  .avatar-block {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: relative;
    text-align: center;
    //border: 1px solid rgba(0,0,0,0.05);
    background: linear-gradient(-30deg, material-color('pink', '500') 50%, material-color('yellow', '400'));
    color: white;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;

    &:after {
      content: ' ';
      display: block;
    }
  }

  .indecator-user-min {
    position: absolute;
    right: 1px;
    bottom: 1px;
  }

  .messages-item {

  }

  .message-content {
    line-height: 14px;
  }
}




//.chat {
//  position: fixed;
//  width: 400px;
//  right: 1rem;
//  bottom: 0;
//  z-index: 1000;
//
//  &.active {
//    z-index: 1051;
//
//    .card-body {
//      max-height: 250px;
//      overflow-y: auto;
//    }
//
//    .card-header {
//      border-radius: 0;
//    }
//  }
//
//  .card-body.loader {
//    overflow: hidden !important;
//  }
//
//  .card-header {
//    padding: 0.75rem 1.25rem;
//    border-bottom-left-radius: 0;
//    border-bottom-right-radius: 0;
//  }
//}
//
//.chat-area-field {
//  font-size: 12px;
//  line-height: 15px;
//}