.message {
  border-radius: 3px;
  box-sizing: border-box;
  background-color: $gray-100;
  border: 1px solid rgba(0,0,0,0.1);
  color: black;
  font-size: 12px;
  line-height: 15px;
  padding: 12px;

  p:last-child {
    margin-bottom: 0;
  }

  &.own-message {
    background-color: $blue-100;
  }
}