//.message {
//  border-radius: 3px;
//  box-sizing: border-box;
//  background-color: material-color('grey', '100');
//  border: 1px solid rgba(0,0,0,0.1);
//  color: black;
//  font-size: 12px;
//  line-height: 15px;
//  padding: 12px;
//
//  p:last-child {
//    margin-bottom: 0;
//  }
//
//  &.own-message {
//    background-color: material-color('blue', '100');
//  }
//}

.messages-list {
  .avatar-block {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    position: relative;
    text-align: center;
    //border: 1px solid rgba(0,0,0,0.05);
    background: linear-gradient(-30deg, material-color('pink', '500') 50%, material-color('yellow', '400'));
    color: white;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;

    &:after {
      content: ' ';
      display: block;
    }
  }

  .indecator-user-min {
    position: absolute;
    right: 1px;
    bottom: 1px;
  }

  .message-content {
    line-height: 14px;
  }
}

.message-chat {
  padding: 7px 0;

  &-text {
    font-size: 13px;
    line-height: 15px;
    padding: 10px;
    border-radius: 3px;
    @include mdc-elevation(1);
    position: relative;
    z-index: 2;

    &:before {
      content: ' ';
      display: block;
      position: absolute;
      border-width: 8px;
      border-style: solid;
      border-color: red blue yellow green;
      top: 50%;
      margin-top: -8px;
      z-index: 1;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &-created {
    font-size: 12px;
    color: material-color('grey', '500');
    margin: 0 10px 2px 10px;
  }

  &.own {
    .message-chat-text {
      background: material-color('blue', '100');
      color: #000;

      &:before {
        border-color: transparent transparent transparent material-color('blue', '100');
        left: 100%;
      }
    }
  }

  &:not(.own) {
    .message-chat-text {
      background: material-color('grey', '100');
      color: #000;

      &:before {
        border-color: transparent material-color('grey', '100') transparent transparent;
        right: 100%;
      }
    }
  }
}